/* 
GLOBAL STYLES
==============================================================
*/
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    background: white;
    color: #252429;
}

a {
    text-decoration: none;
    color: black;
}

i {
    margin-right: 25px;
    font-size: 20px;
}

h2 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 40px;
    padding-bottom: 20px;
}

h3 {
    text-transform: uppercase;
}

nav,
h2,
h3,
h4,
address,
.home-page,
.contact p,
.services h1,
.whytrain h1,
.services h2,
.whytrain h2,
.single-service-main h1 {
    font-family: 'Jockey One', sans-serif;
}

.home-page a, 
.about p,
.about a,
.quote-text p, 
.facility p,
input[type="text"],
input[type="email"],
textarea,
.contact-form button,
.services p,
.thumbnail a,
.service-content a,
.single-service-content p,
.single-service-content a,
.single-service-content li,
.whytrain p,
.whytrain a {
    font-family: Oswald, sans-serif;
}

.about-content,
.facility-content,
.contact-content,
.services-content,
.whytrain-content {
    width: 90%;
    margin: 0 auto;
}

.book {
    background-color: rgba(254, 97, 72);
    transition: 200ms ease-in;
    font-size: 16px;
    padding: 8px 16px;
}

.book:hover,
.book:focus {
    background-color: rgba(254, 97, 72, 0.75);
    transition: 200ms ease-in;
}


/* 
NAVIGATION
==============================================================
*/
.fixed-content {
    background: #252429;
    margin: 0;
    width: 100%;
}

#logo {
    width: 100px;
}

.image-container {
    padding-top: 20px;
    text-align: center;
}

.toggle-button {
    position: absolute;
    top: 60px;
    right: 20px;
    background: none;
    border: none;
}

.burger-bar {
    background-color: white;
    width: 25px;
    height: 3px;
    margin: 6px 5px;
    border-radius: 4px;
    transition-duration: 300ms;
}

.cross .burger-bar {
    background-color: rgba(254, 97, 72, 1);
}

.cross > #bb-one,
.cross > #bb-three {
    width: 30px;
    transition-duration: 300ms;
}

.cross > #bb-one {
    transform: rotate(45deg) translate(6px, 7px);
}

.cross > #bb-two {
    display: none;
}

.cross > #bb-three {
    transform: rotate(-45deg);
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-family: 'Manjari', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.1em;
}

nav li {
    padding: 20px 0;
}

.collapse-content {
    height: 0;
    background: #252429;
    margin-top: 30px;
    font-size: 30px;
    padding: 0 20px 0;
    transition: opacity 400ms;
    opacity: 0;
    overflow: hidden;
}

nav a {
    color: white;
    transition: 200ms ease-in-out;
}

nav a:hover,
nav a:focus {
    color: rgba(254, 97, 72, 1);
    transition: 200ms ease-in-out;
}

.toggle {
    height: 90vh;
    transition: opacity 400ms;
    opacity: 1;
}



/* 
HOME PAGE 
==============================================================
*/

.home-page {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('images/cover-desktop.JPG');
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/cover-desktop.JPG');
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/cover-desktop.JPG');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white; 
    text-align: center;
} 

.home-page-content{
    width: 90%;
    margin: 0 auto;
    padding-top: 10vh;
}

h1 {
    letter-spacing: 0.2em;
    font-size: 35px;
}

.home-page p {
    letter-spacing: 0.42em;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 40px;
}


/* 
ABOUT 
==============================================================
*/
.about {
    padding-bottom: 60px;
}

.about img {
    width: 100%;
    height: 100%;
    filter: grayscale(80%);
}

.headshot-container {
    width: 50%;
    margin: 100px auto 0;
}

.headshot {
    margin: 0;
    width: 100%;
}

.about-content {
    padding: 20px 0 50px;
}

.about p {
    width: 90%;
}

.start-training {
    text-align: center;
}

.about h3 {
    font-size: 30px;
    letter-spacing: 0.4em;
    width: 60%;
    margin: 30px auto;
}


/* 
QUOTE
==============================================================
*/
.quote {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/QuoteImage.JPG');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    height: 80vh;
    filter: grayscale(90%);
}

.quote-text {
    position: relative;
    top: 40%;
    margin: 50px 40px 0;
    text-align: center;
    color: white;
    font-size: 30px;
    letter-spacing: 0.05em;
}


/* 
FACILITY
==============================================================
*/
.facility {
    padding: 80px 0;
}

.facility h2 {
    padding-bottom: 20px;
}

.locations {
    padding-bottom: 10px;
}

/* 
CONTACT 
==============================================================
*/
.contact {
    background: rgba(254, 97, 72, 1);
}

.contact-content {
    padding: 50px 0;
}

.write {
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 0.15em;
}

.phone,
.email,
.contact a {
    font-size: 17px;
    letter-spacing: 0.1em;
}

.icons {
    margin-top: 30px;
}

.icons i {
    transform: scale(1);
    transition: 50ms linear;
}

.icons i:hover {
    transform: scale(1.3);
    transition: transform 200ms ease-in-out;
    color: white;
}

.icons .fas {
    font-size: 28px;
} 

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

input[type="text"],
input[type="email"],
textarea,
.contact-form button {
    border: 2px solid black;
    background: rgba(254, 97, 72, 1);
    margin: 5px 0;
    width: 100%;
    padding: 5px;
    font-size: 16px;
}

::placeholder {
    color: black;
}

.contact-form button {
    width: 30%;
    text-align: center;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
    border: 2px solid white;
    outline: none;
    transition: 50ms;
}

.contact-form button {
    transition: 200ms ease-in;
}

.contact-form button:hover,
.contact-form button:focus {
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: white;
    transition: 200ms ease-in;
}

.copyright p {
    font-size: 12px;
    text-align: center;
    margin-top: 50px;
}

.copyright i {
    font-size: 12px;
    align-self: flex-end;
    margin: 0;
}

.copyright a {
    transition: 200ms linear;
    font-size: 12px;
    text-decoration: underline;
}

.copyright a:hover,
.copyright a:focus {
    color: white;
    transition: 200ms linear;
}



@media (min-width: 786px){
    .toggle-button {
        display: none;
    }  
    .fixed-content.fade {
        background: none;
        background-image: linear-gradient(#252429, #25242900);
    }
    nav ul {
        display: flex;
        justify-content: center;
    }
    nav li {
        padding: 0;
        margin: 0 15px;
        font-family: 'Jockey One', sans-serif;
    }
    .collapse-content {
        background: none;
        transition-duration: 0ms;
        opacity: 1;
        font-size: 20px;
        height: auto;
        margin: 0;
    }
    .fixed-content {
       position: fixed;
       z-index: 999;
    }
    .home-page {
        background-position: center;
        background-attachment: fixed;
    }
    .home-page-content {
        padding-top: 35vh;
    }
    h1 {
        font-size: 70px;
    }
    .home-page p {
        font-size: 26px;
    }
    .book {
        font-size: 20px;
        padding: 16px 40px;
    }
    .home-page p {
        margin-bottom: 50px;
    }
    .about {
        padding: 160px 50px;
    }
    .about img {
        width: 100%;
        height: 100%;
    }
    .headshot,
    .about-content {
        width: 60%;
        margin: 0 auto;
    }
    h2 {
        font-size: 50px;
    }
    .about-content h2 {
        padding-top: 30px;
    }
    .about-content p {
        width: 100%;
        font-size: 19px;
        letter-spacing: 0.03em;
    }
    .about h3 {
        font-size: 32px;
        width: 80%;
        margin: 60px auto;
    }
    .quote {
        background-attachment: fixed;

    }
    .facility p {
        font-size: 20px;
    }
    .contact-content {
        display: flex;
        justify-content: space-around;
    }
    i {
        font-size: 30px;
    }
    .phone,
    .email a {
        font-size: 20px;
    }
}
@media (min-width: 1000px){
    .home-page-content {
        padding-top: 38vh;
    }
}
@media (min-width: 1200px){
    .flex {
        display: flex;
        flex-direction: row-reverse;
    }
    .about img {
        width: 95%;
        height: auto;
        margin: 20px 0px 0px 40px;
    }
    .about-content h2 {
        padding: 0;
    }
    .about-content {
        width: 60%;
        margin: 10px;
    }
    .headshot-container {
        margin: 0;
    }
    .headshot-container img {
        margin: 0;
    }
    .facility-flex {
        display: flex;
        justify-content: space-evenly;
    } 
    .locations p {
        margin-right: 80px;
    }
}



/* SERVICES
========================================================= */
.services {
    padding-top: 100px;
}

.services h1,
.whytrain h1,
.single-service-main h1 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
    font-size: 45px;
    letter-spacing: 0.1em;
}

.services h2 {
    font-size: 20px;
    padding-bottom: 10px;
    text-transform: none;
}

.services p {
    margin: 10px 0 20px;
}

.thumbnail-container {
    padding-bottom: 50px;
 }

.thumbnail {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.service-img {
    width: 100%;
}

.service-content {
    padding: 20px 0;
}

.service-content a {
    text-decoration: underline;
    background: none;
    padding: 0;
}

hr {
    border: 0;
    border-top: 1px solid rgba(186, 186, 186, 0.40);
    margin-top: 30px;
}


@media (min-width: 768px) {
    .services {
        padding-top: 160px;
    }
    .services h1,
    .train-content h1 {
        padding: 80px 0;
        font-size: 70px;
    }
    .services-content {
        padding-bottom: 60px;
    }
    .thumbnail-container {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }
    .thumbnail {
        border: 2px solid #252429;
        box-shadow: 1px 1px 2px #25242941;
        margin: 0 10px;
        max-width: 350px;
        overflow: hidden;
    }
    .services h2 {
        padding-bottom: 10px;
    }
    .service-content {
        padding: 50px 10px 20px;
        text-align: center;
    } 
    .services a {
        padding: 10px 22px;
    }
    .service-description {
        padding-bottom: 50px;
    }
    .service-content a,
    .single-service-content a {
        color: rgba(254, 97, 72, 1);
        border: 1px solid rgba(254, 97, 72, 1);
        padding: 8px 16px;
        text-decoration: none;
    }
    .service-content a:hover,
    .single-service-content a:hover,
    .service-content a:focus,
    .single-service-content a:focus {
        color:rgba(254, 97, 72, 0.75);
        border: 1px solid rgba(254, 97, 72, 0.75);
    }
    .book-btn-container {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background: white;
        z-index: 10;
    }
    .book-btn {
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -40px;
        margin-top: -20px;
    }
    .service-description {
        opacity: 0;
        height: 0px;
    }
    .thumbnail > img {
        opacity: 1;
        transform: scale(1);
        transition: 400ms;
    }
    .thumbnail:hover > img {
        opacity: 0;
        transform: scale(1.1);
        transition: 400ms;
    }
    .thumbnail > .service-content h2 {
        transform: translateY(0px);
        transition: transform 400ms; 
    }
    .thumbnail:hover > .service-content h2,
    .thumbnail:hover > .service-content p{
        transform: translateY(-160px);
        transition: transform 400ms;
    }
    .thumbnail > .service-content p {
        opacity: 0;
        transition: 400ms;
    }
    .thumbnail:hover > .service-content p {
        opacity: 1;
        transition: 400ms;
    }
}
@media(min-width: 1000px){
    .service-content {
        padding: 30px 30px 20px;
    } 
    .services h2 {
        padding-bottom: 20px;
    }
    .book-btn-container {
        height: 100px;
    }
}


/* SINGLE SERVICE PAGES
========================================================= */
.single-service-content {
    padding: 100px 0;
    width: 70%;
    margin: 0 auto;
}

.single-service-main h1 {
    margin: 0 0 50px;
}

.back-btn {
    color: rgba(254, 97, 72, 1);
    border: 1px solid rgba(254, 97, 72, 1);
    padding: 8px 16px;
}

.back-btn:hover,
.back-btn:focus {
    border: 1px solid rgba(254, 97, 72, 0.75);
    color: rgba(254, 97, 72, 0.75)
}

.ss-content-container {
    text-align: center;
}   

.single-service-content h2 {
    margin-top: 40px;
}

.single-service-content img {
    width: 100%;
    margin-top: 30px;
    max-height: 400px;
}

.single-service-content p {
    line-height: 1.6;
}

.single-service-content h4 {
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .single-service-content {
        padding-top: 160px;
    }
    .single-service-main h1 {
        padding: 80px 0;
        font-size: 70px;
    }
    .single-service-content p {
        font-size: 17px;
    }
    .benefits-performance {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1200px) {
    .flex-service img {
        width: 50%;
        float: right;
        margin: 0 0 40px 40px;
    }
    .flex-service-content {
        width: 100%;
        margin: 0 auto;
    }
    .single-service-content h2 {
        margin-bottom: 30px;
    }
    .flex-service-content p {
        margin-top: 0;
        font-size: 18px;
    }
    .flex-service-content h3 {
        margin-top: 30px;
    }
    .single-service-content img {
        margin-top: 0px;
    }
}




/* WHY TRAIN
========================================================= */
.whytrain h1 {
    padding: 120px 0 30px;
    color: white;
}

.gym-image-container {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('images/Gym.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    filter: grayscale(80%);
}

.train-content {
    padding-bottom: 100px;
}

.whytrain-content {
    padding-top: 40px;
}

.coach-image-container {
    background-image: url('images/Coaching.JPG');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    overflow: hidden;
}

.whytrain ul {
    list-style: none;
    padding: 0;
}

.whytrain p {
    margin: 0 0 40px;
}

.whytrain h3 {
    margin-bottom: 10px;
}

.whytrain-btn {
    text-align: center;
}

@media (min-width: 768px) {
    .whytrain {
        font-size: 17px;
        line-height: 1.6;
    }
    .gym-image-container,
    .coach-image-container {
        background-attachment: fixed;
    }
    .whytrain h1 {
        padding: 230px 0;
    }
    .whytrain-content {
        padding: 60px 0 20px;
    }
    .whytrain-btn {
        margin-top: 80px;
    }
}
@media (min-width: 1200px) {
    .whytrain {
        font-size: 18px;
    }
    .whytrain h1 {
        padding: 300px 0;
    }
    .whytrain-content {
        padding: 80px 0 40px;
        width: 80%;
    }

}